@media (min-width: 1024px) {
    // no se muestra la imagen vertical en pantallas grandes
    .mobile-image {
        display: none;
        }
        
        /* Muestra la imagen horizontal en pantallas grandes */
        .desktop-image {
        display: flex;
        position: relative;
        width: 100%;
        }
        // no se muestra la nav de iconos en pantallas grandes
        .fixed-bottom {
            display: none;
        }
// tarjetas
        .card {
            position: relative;
            height: 500px;
             }
             .card-img-top {
                position: relative;
                height: 300px;
             }
  }


   

    