.card-img-top{
    position: relative;
    height: 350px;
}
.card-img-top
.card {
    position: relative;
    height: 500px;
}

.d-block {
    position: relative;
    height: 400px;
    width: 500px;
}

