@media (max-width: 767px) {
  main, footer, nav{display:flex;
    align-items: center;}
.mobile-image {
display: block;
position: relative;
width: 100%;
}
.d-block {
  height: 200px;
}
.desktop-image {
display: none;
}
.nav-link {
  background-color: #000000;
  font-size: 16px;
}
.navbar .navbar-iconos {
display: none;
}
.ficed-bottom {
  height: 50px;
}
.body{
overflow: hidden;

}
nav li a {
font-size: 18px;
} 
.fa-home {
  font-size: 40px;
  color: white;
}
.fa-regular, .fa-solid {
  color: white;
}
.card {
  position: relative;
  height: 500px;
   }
   .card-img-top {
      position: relative;
      height: 300px;
   }
}