@media (min-width: 768px) and (max-width: 1023px) {
    .mobile-image {
        display: block;
        position: relative;
        width: 100%;
        padding: 0;
        }
        .d-block {
          height: 200px;
          width: 100%
        }
        // Diseño full responsive Elimino por completo el overflow
        .container-fluid, h1, h2{
          padding-right: 0;
        }
        .col-lg-12.col-12 {
          margin: 0;
          padding: 0;
        }
        // Quito los íconos de la navbar superior (donde está el logo) para que 
        // no se vean en la vista smartphone
        .collapse .navbar-collapse .nav-link {
          display: none;
        }
        // la imagen horizontal no se ve en pantallas smartphone
        .desktop-image {
        display: none;
        }
        // iconos novbar inferior
        .nav-link {
          background-color: #000000;
          font-size: 16px;
        }
        // navbar inferior
        .fixed-bottom {
          height: 48px;
        }
        .fa-regular, .fa-solid, .fas.fa-home {
          font-size: 24px;
        }
        
        .body{
        overflow: hidden;
        
        }
        nav li a {
        font-size: 18px;
        } 
        // iconos
        .fa-home {
          color: white;
        }
        .fa-regular, .fa-solid {
          color: white;
        }
        // tarjetas
        .card {
          position: relative;
          height: 500px;
           }
           .card-img-top {
              position: relative;
              height: 300px;
           }
    
    } 