@media (min-width: 768px) and (max-width: 1023px) {
    .navegation-mobile {
    display: inline-block;
    height: 68px;
    width: 100%;
    justify-content: center;
    background-color: #000000;
    }
    
    
    } 